@model Lab2_ImageService.Models.ImageClass
@* @model Lab2_ImageService.Models.ViewModel.ImagesViewModel *@

@{
    var thumbImages = ViewData["Thumbnail_Images"];
    var objectImages = ViewData["Object_Images"];
}

<style>
    .custom-test {
        margin-top:3em;
        border-radius: 5px 5px 5px 5px;
        background-color:white;
    }
</style>

<center class="custom-test">
        <h1 class="bg-info">Add file to wwwRootPath</h1>
    <hr />
    <div class="mb-3">
        <form method="post" enctype="multipart/form-data" asp-controller="Img" asp-action="UploadTowwwRoot">
            <select name="folderName">
                <option value="UploadedImages">Uploaded Images</option>
                <option value="Objects">Objects</option>
                <option value="Thumbnails">Thumbnails</option>
            </select>
            <br /><br />
            <input type="file" name="imgfile" />
            <input type="submit" value="Upload" />
        </form>
    </div>


   <hr />

   <h2>Original Images</h2>
    <table class="table">
        <tr>
            <th>Image Name</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model.FileImage)
        {
            <tr>
                <td>@item.Name</td>
                <td><img src="/UploadedImages/@item.Name" height="80" width="120" /></td>
                <td><a href="@Url.Action("Delete", "Img", new { folderName = "UploadedImages", fileName = item.Name})">Delete</a></td>
            </tr>
        }

    </table>
    
    <!-- Display object images -->
    <h2>Object Images</h2>
    <table class="table">
        <tr>
            <th>Image Name</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in (objectImages as ImageClass)?.FileImage)
        {
            <tr>
                <td>@item.Name</td>
                <td><img src="~/Objects/@item.Name" height="80" width="120" /></td>
                <td>
                    <a href="@Url.Action("Delete", "Img", new { folderName = "Objects", fileName = item.Name })">Delete</a>
                </td>
            </tr>
        }
    </table>

    <!-- Display thumbnail images -->
    <h2>Thumbnail Images</h2>
    <table class="table">
        <tr>
            <th>Image Name</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in (thumbImages as ImageClass)?.FileImage)
        {
            <tr>
                <td>@item.Name</td>
                <td><img src="~/Thumbnails/@item.Name" height="80" width="120" /></td>
                <td>
                    <a href="@Url.Action("Delete", "Img", new { folderName = "Thumbnails", fileName = item.Name })">Delete</a>
                </td>
            </tr>
        }
    </table>

</center>
