@model Lab2_ImageService.Models.ImageClass
@using Lab2_ImageService.Helpers

@{
    var thumbImages = ViewData["Thumbnail_Images"];
    var objectImages = ViewData["Object_Images"];
}

<style>
    .custom-test {
        margin-top: 3em;
        border-radius: 5px 5px 5px 5px;
        background-color: white;
        text-align:center;
    }
    .table {
        width: 100%;
        margin: 0 auto;
    }
</style>

<div class="custom-test">
    <h1 class="bg-info" style="border-radius: 5px 5px 0px 0px;">Add file to wwwRootPath</h1>
    <hr />
    <div class="mb-3">
        <form method="post" enctype="multipart/form-data" asp-controller="Img" asp-action="UploadTowwwRoot">
            <select name="folderName">
                <option value="UploadedImages">Uploaded Images</option>
                <option value="Objects">Objects</option>
                <option value="Thumbnails">Thumbnails</option>
                <option value="Prediction-Uploads">Prediction-Uploads</option>
            </select>
            <hr />
          
            @if (MyHelpers.IsUserSignedIn(Context))
            {
                <input type="file" name="imgfile" />
                <input type="submit" value="Upload" />
            }
            else
            {
                <div class="alert alert-warning">
                    You must sign in to upload images.
                </div>
            }
        </form>
        @if (!string.IsNullOrEmpty(TempData["SuccessMessages"] as string))
        {
            <div class="alert alert-success mt-3">
                @TempData["SuccessMessages"]
            </div>
        }
    </div>
    <hr />

   
    <div style="text-align:center;">
        <h3>Original Images</h3>
        <div class="table-responsive table-striped table-hover table-active">
            <table class="table">
                <tr>
                    <th>Image Name</th>
                    <th>Image</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model.FileImage)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><img src="/UploadedImages/@item.Name" height="80" width="120" /></td>
                        <td>
                             <a href="~/Thumbnails/@item.Name" download="@item.Name" class="">Download</a>
                            <a href="@Url.Action("Delete", "Img", new { folderName = "UploadedImages", fileName = item.Name})">Delete</a>
                            </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div style="text-align:center;">

        @* <!-- Display thumbnail images --> *@
        <h3>Thumbnails</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-active">
                <tr>
                    <th>  </th>
                    <th>  </th>
                    <th>  </th>
                </tr>
                @foreach (var item in (thumbImages as ImageClass)?.FileImage)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><img src="~/Thumbnails/@item.Name" height="80" width="120" /></td>
                        <td>
                            <a href="~/Thumbnails/@item.Name" download="@item.Name" class="">Download</a>
                            <a href="@Url.Action("Delete", "Img", new { folderName = "Thumbnails", fileName = item.Name })">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div style="text-align:center;">
        <!-- Display object images -->
        <h3>Object Images</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-active">
                <tr>
                    <th>  </th>
                    <th>  </th>
                    <th>  </th>
                </tr>
                @foreach (var item in (objectImages as ImageClass)?.FileImage)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><img src="~/Objects/@item.Name" height="80" width="120" /></td>
                        <td>
                            <a href="~/Objects/@item.Name" download="@item.Name" class="">Download</a>
                            <a href="@Url.Action("Delete", "Img", new { folderName = "Objects", fileName = item.Name })">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

   


</div>


